/* колір основний шрифт*/


/* color:#434455 */


/* колір залоловку */


/* color: #2E2F42 */


/* основний колір заднього фону */


/* color: #2E2F42 */


/* колір nav задій фон */


/* color: #FFFFFF */


/* колір що ми робимо задній фон */


/* normal - це 400
medium - 500
Bold - це 700*/


/* color: #E5E5E5 */
html{
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
    --primery-brend-iris: #4D5AE5;
    --pressed-state-ocean: #404BBF;
    --dark-navy-blue: #2E2F42;
    --success-green: #31D0AA;
    --text-slate: #434455;
    --subtle-text-light-slate: #8E8F99;
    --accent-cornfloweer: #E7E9FC;
    --light-cloud: #F4F4FD;
    --model-overlay-navy-blue-modal: rgba(46, 47, 66, 0.4);
    --hero-beckground-grey: gba(46, 47, 66, 0.7);
    --bgc-white: #FFFFFF;
    --primery-bgc: #E5E5E5;
}

body {
    margin: 0;
    font-family: 'Roboto', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: var(--bgc-white);
    color: var(--text-slate);

}
.page-header{
    
    background-color: var(--bgc-white);
}

.header-flax{
    border-bottom: 1px solid #E7E9FC;
    display:flex;
    align-items: center;
}
.conteiner{
    width: 1128px;
    margin: 0 auto;
    padding: 0;

}

.logo {
    font-family: 'Raleway', serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: var(--primery-brend-iris);

}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    }

.list h3{
    margin-top: 0;
    margin-bottom: 8px;
}

.title-p{
    margin-top: 0;
    margin-bottom: 0;
}

.link {
    text-decoration: none;
}

.nav {
    display: flex;
    align-items:center;
    
    background-color: var(--bgc-white);
}

.logo-studio{
        margin-right: 76px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.logo:hover,
.logo:focus {
    color: var(--pressed-state-ocean);
}

.logo-studio {
    color: var(--dark-navy-blue);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-studio:hover,
.logo-studio:focus {
    color: var(--pressed-state-ocean);
}

.nav-adress{
    font-style: normal;
}



.nav-list{
    display: flex;
    margin-top: 24px;
    margin-bottom: 24px;
    
}


.nav-list .item + .item{
    margin-left: 40px;
}

.nav-list .link,
.nav-adress .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-navy-blue);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list .link:hover,
.nav-list .link:focus {
    color: var(--pressed-state-ocean);
}


.link{
    position: relative;
}
.current::after {
    content: "";
    position: absolute;
    top: 44px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--pressed-state-ocean);
}

.address{
    margin-left: auto;
}

.nav-adress{
display: flex;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-adress .item + .item{
margin-left: 40px;
}

.nav-adress .link:hover,
.nav-adress .link:focus {
        color: var(--pressed-state-ocean);
}

.link-flax{
    display: flex;
    align-items: center;
}

.nav-adress .link::before{
    display: block;
    content: "";
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
}

.mail::before{
    background-image: url(../images/email.png);
}

.tel::before{
    background-image: url(../images/telephone.png);
}

.hero{
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
    margin-bottom: 120px;
    margin-left: auto;
    margin-right: auto;

    max-width: 1440px;
    background-color: var(--dark-navy-blue);
    background-image: linear-gradient(to right, 
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)
        ), 
        url(../images/people-office-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-title {
    margin: 0 0 48px 0;
    padding: 0;

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--bgc-white);

}

.button-hero {
    display: inline-block;
    font-family: inherit;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: var(--bgc-white);
    background-color: var(--primery-brend-iris);
    /* width: 480px; */
    margin: 0 auto;
    padding: 16px 32px;
    min-width: 169px;
    border: 1 solid var(--primery-brend-iris);
    border-radius: 4px;
    text-align: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus {
    background-color: var(--pressed-state-ocean);
    cursor: pointer;
}

/* ----------------------------------------------секції-------- */

.list-flex{
    display: flex;
    /* background-color: green; */
}

.item-doing::before{
    content: "";
    display: block;
    /* width: 64px; */
    height: 112px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20%;
    /* padding-top: 124px;
    padding-bottom: 24px; */
    background-color: #F4F4FD;
    border-radius: 4px;

}

.item-doing:nth-child(1)::before{
    background-image: url(../images/radar.svg);
}

.item-doing:nth-child(2)::before{
    background-image: url(../images/clock.svg);
}

.item-doing:nth-child(3)::before{
    background-image: url(../images/diagram.svg);
}

.item-doing:nth-child(4)::before{
    background-image: url(../images/astronaut.svg);
}

.item-doing .title{
    margin-top: 8px;
}

.item-doing{
    width: calc((100%-72px)/4);
}

.item-doing:not(:nth-child(4n)){
    margin-right: 24px;
}

.work-list-flex{
    display: flex;
}

.item-img:not(:nth-child(3)){
    margin-right: 24px;
}

.team-list{
    display: flex;
}

.item-team{
    text-align: center;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}

.item-team:not(:nth-child(4n)){
margin-right: 24px;
}

/* ------------ social icon */

.social-list-item{
    list-style: none;
}

.social-list{
    display: flex;
    justify-content: center;
    margin-top: 8px;
    gap: 24px;
}

.social-list-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primery-brend-iris); 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover{
background-color: var(--pressed-state-ocean); 
}

.social-list-icon{
    fill: var(--light-cloud);
}
/* .list-social{
    display: flex;
    margin-top: 8px;
    margin-right: 16px;
    margin-bottom: 32px;
    margin-left: 16px;
    gap: 24px;

}

.social::before{
    display: block;
    content: "";
    width: 40px;
    height: 40px;
    background-color: var(--primery-brend-iris); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border-radius: 50% 50%;
    
}*/

.customers-list{
    display: flex;
    justify-content: center;
    margin-top: 8px;
    gap: 24px;
}

.customers-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;
    border: 1px solid var(--subtle-text-light-slate);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.customers-link:is(:hover, :focus){
    border-color: var(--pressed-state-ocean);

}

.customers-svg{
    fill: var(--subtle-text-light-slate); 
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-svg:is(:hover, :focus){
    fill: var(--pressed-state-ocean);
}

.social-footer:hover,
.social-footer:focus{
    background-color: var(--success-green); 
} 



/* ------------ */
.section {
    padding-top: 0;
    padding-bottom: 120px;
    margin: 0;
}


.footer.section-navy-blue {
    background-color: var(--dark-navy-blue);
}

.section:nth-child(even){
    background-color: var(--light-cloud);
}

.section>.title,
.section .section-title{
    padding-top: 120px;
    margin-top: 0;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
}
.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--dark-navy-blue);
}

.item-team{
    background-color: var(--bgc-white);
}

.item-text{
    margin-top: 32px;
    margin-bottom: 32px;
}

/*------------------------------------------------footer */
.footer{
    padding: 100px 0;
}

.footer .link {
    color: var(--primery-brend-iris);
}

.footer span {
    color: var(--light-cloud);
}

.footer-p {
    width: 264px;
    color: var(--accent-cornfloweer);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .link:hover,
.footer .link:active {
    color: var(--pressed-state-ocean);
}

.footer span:hover,
.footer span:active {
    color: var(--pressed-state-ocean);
}


.footer .conteiner{
    display: flex;

}
.fotter-social{
margin-left: 120px;
}

.list-social.social-padding{
    margin-left: 0;
}

.fotter-social .footer-p{
    margin-top: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
}

.fotter-social .social-list{
    justify-content: flex-start;
    gap: 16px;
}


/* ===================================== підниска в footer ==========*/

.form_footer_p{
    margin-top: 0;
    color: var(--accent-cornfloweer);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
}
.form_footer{
/* position: relative; */
/* display: flex; */
}

.form_footer_label_email{
    width:  264px;
    /* width:  100%; */
    height: 40px;
    background-color: inherit;
    margin-right: 24px;
    border: 1px solid var(--accent-cornfloweer);
    border-radius: 4px;
    padding-left: 16px;
    
    color:rgb(252, 252, 252);
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;

}

.form_footer_label_email::placeholder{

    color: rgba(255, 255, 255, 0.6);
}


.form_modal_btm.form_footer_label_btm{
    margin: 0;
    padding-left: 26px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    width:  165px;
    height: 40px;
    border-color: var(--pressed-state-ocean);
}
.form_footer_label_btm::before{
    content: "";
    
}

.form_footer_btm_svg{
    position: relative;
    display: block;
}
.form_footer_svg{
    position: absolute;
    top: 50%;
    right: 24px;
    fill: var(--accent-cornfloweer);
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
}

/* ===================================== /підниска в footer ==========*/
/* ====================================== /fotter==================== */

/* ====================================== model drop==================== */

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color:rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    height: 584px;
    background-color: rgb(252, 252, 252);
    transform: translate(-50%, -50%);
    transition: transform 400ms linear;
    padding-left: 24px;
    padding-right: 24px;
}

.backdrop.is-hidden .model {
    transform: rotate(-90deg);
  }

.model-close-dtn{
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.model-close-dtn:hover {
    background-color: var(--pressed-state-ocean);

}

.model-close-btm-icon{
    width: 8px;
    height: 8px;
}

.model-close-dtn:hover .model-close-btm-icon {
    fill: var(--light-cloud);
}

.backdrop.is-hidden{
opacity: 0;
visibility: hidden;
pointer-events: none;
}

/* ==================================== ФОРМА в модалі=================== */

.form_modal{
    margin-top: 40px;
    font-size: 12px;
}

.form_modal_totle{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.form_modal_label{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    color: var(--subtle-text-light-slate);
}



.form_input{
/* padding: 11px 38px; */
padding-left: 42px;
border-radius: 4px;
width: 100%;
height: 40px;
border: 2px solid var(--subtle-text-light-slate);
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.form_input:is(:hover, :focus){
border-color: var(--primery-brend-iris);
outline: none;
}

.form_input:hover+.form_modal_svg{
    fill: var(--primery-brend-iris);
}

.form_input::after{
    content: "";

}



.imgsvg{
    position: relative;
    display: block;
}

.form_modal_svg{
    position: absolute;
    top: 50%;
    left: 16px;
    color: var(--dark-navy-blue);
    width: 18px;
    height: 18px;
    transform: translateY(-50%);
}

.form_modal_texteria.form_input{
    padding: 8px 16px;
    resize: none;
    height: 120px;

}

.form_checkbox_span{
    font-family: Roboto;
    line-height: 1.6;
    font-weight: 400;

}
.form_modal_btm{
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    width: 169px;
    height: 56px;
    line-height: 1.5;
    font-weight: 600;
    text-align: center;
    background-color: var(--primery-brend-iris);
    color: var(--accent-cornfloweer);
    border-radius: 4px;
    border-color: inherit;
    transition: backgroud-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .form_modal_btm:is(:hover, :focus){
        background-color: var(--pressed-state-ocean);
    }

.div_form_checkbox{
    display: flex;
    flex-direction: column;
    gap: 10;
}


/* ==================================== /ФОРМА в молалі=================== */

/* ====================================== /model drop==================== */

/* -------------------------------------portfolio */


/* --------------------------------------product filter */
.filter{
    padding-top: 72px;
    padding-bottom: 120px;
}

.filter-list{
    display: flex;
    justify-content: center;
}


/* .filter-list.list{
    text-align: center;
} */

.filter-list .button-f {
    background-color: var(--light-cloud);
}

.button{
    color: var(--primery-brend-iris);
    padding: 12px 24px;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list{
    /* margin-top: 96px; */
    margin-bottom: 72px;
}

.filter-list .link + .link {
    margin-left: 24px;
}

.button:hover,
.button:focus {
    background-color: var(--pressed-state-ocean);
    color: var(--bgc-white);
    cursor: pointer;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.products-list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.products-list>li{
border: 1px solid #E7E9FC;
width: 360px;
margin: 0;
}

.item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

a.link{
    margin: 0;

}

.products-h2 {
    margin-top: 32px;
    margin-bottom: 8px;
    padding-left: 16px;
    font-size: 20px;
    line-height: 1.2;
    color: var(--dark-navy-blue);
    text-decoration: none;
}

.products-h3 {
    margin-top: 0;
    margin-bottom: 32px;
    padding-left: 16px;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-slate);
    text-decoration: none;
}

/* текст при  на продуктах при ховері*/

.hiden-text{
    position: relative;
    overflow: hidden;
}

.products-list--hover-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-right: 32px;
    padding-left: 32px;
    padding-top: 40px; 

    color: var(--light-cloud);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;

    transform: translatey(100%);
    transition: 250ms ease-in-out;
    background-color: var(--primery-brend-iris);

}

.itam:hover .products-list--hover-text{
    transform: translatey(0);
}






/* _________під час стрім навчання */

.btm_pagas{
    position: relative;
    top: 350px;
    left: 150px; 
    padding: 10px 30px;
    margin: 0;  
    background-color:rgba(27, 119, 211, 0.08);
    cursor: pointer;
    transition: background-color 500ms liner;
    overflow: hidden;
 }
 
 .btm_pagas::after, .btm_pagas::before{
     position: absolute;
     content: "";
     display: block;
     width: 15px;
     height: 15px;
     border: 3px rgba(211, 101, 27, 0.08) solod;
     background-color: rgb(211, 101, 27);
     transition: transform 250ms liner;
 }
 
 .btm_pagas::after{
     top: 50%;
     left: 8px;
     transform: translateY(-50%);
     background: url(../images/SVG/hipster.svg) center/cover no-repeat;
 }
 
 .btm_pagas::before{
     top: 50%;
     left: 8px;
     transform: translateY(22px);
     background: url(../images/SVG/evil.svg) center/cover no-repeat;
 }
 
 .btm_pagas:hover{
     background-color: rgb(161, 220, 93);
 }
 
 .btm_pagas:hover::after{
     transform: translateY(-35px);
 }
 
 .btm_pagas:hover::before{
     transform: translateY(-50%);
 }
 
 /* =========== форма================= */
 
 .contact-form
 {
     width: 500px;
     min-height: 200 px;
     padding: 40px;
     margin: 0 auto;
     box-shadow: 0 10px 10px 0 #434455;
 }
 
 .contact-form-input
 {
     width: 100%;
     height: 40px;
     margin-bottom: 20px;
     padding-left: 20px;
     border: 1px solid #2E2F42;
 }
 
 .contact-form-btm-wrapper
 {
     display: flex;
     justify-content: center;
     column-gap: 10px;
 }
 
 .contact-form-btm
 {
     font-size: 18px;
     padding: 10px 20px;
     border-radius: 5px;
     border: 1px solid #434455;
     cursor: pointer;
     color:#2f0505;
     background-color: transparent;
     transition: color 250ms linear, background-color 250ms linear; 
 }
 
 .contact-form-btm:hover
 {
 color:rgb(252, 252, 252);
 background-color:rgb(2, 22, 41);
 }
 /* =========== /форма================= */